<settings xmlns="http://maven.apache.org/POM/4.0.0"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://maven.apache.org/POM/4.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
   <profiles>
      <profile>
         <id>tomcat5x</id>
         <activation>
            <activeByDefault>true</activeByDefault>
         </activation>
         <properties>
            <appserver.id>tomcat5x</appserver.id>
            <appserver.home>c:\opt\tomcat</appserver.home>
         </properties>
      </profile>
   </profiles>

</settings>